#global-loading {

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 99999;
    text-align: center;

    > img {
        position: absolute;
        top: 50%;
        left: 50%;
    }
}

.backlog-stories {

    &.active {
        margin-right: 50px;
        margin-left: 100px;
    }

    .sortable-placeholder {
        border: 1px dotted #ecf0f1;
    }
}

.backlog-story {

    > .panel-heading {
        cursor: move;
    }

    &.disabled > .panel-heading {
        cursor: auto;
    }

    &.ruler {

        border: 0;
        position: relative;
        height: 2px;
        overflow: visible;

        > .ruler {

            position: absolute;
            border: 1px solid #f39c12;
            right: -50px;
            left: -100px;
            cursor: n-resize;

            > .points {
                position: absolute;
                right: 0;
                bottom: 5px;
            }

            > .iteration {
                position: absolute;
                left: 0;
                bottom: 5px;
            }
        }
    }

    .badge {
        float: right;
    }

    .tasks {

        position: relative;

        > .add {
            position: absolute;
            right: 0;
            top: 5px;
        }

        > .task {

            border-bottom: 2px dotted #000;
            margin-bottom: 15px;

            &:last-child {
                border-bottom: 0;
            }
        }

        input,
        textarea {
            border-width: 1px !important;
        }
    }
}

.buttons-nav > button {
    margin-left: 10px;
}

textarea {
    resize: vertical;
}

#story-board {

    .status {

        border-right: 1px solid #ecf0f1;

        &:nth-last-of-type(3) {
            border-right: 0;
        }

        @media (max-width: 767px) {
            &:nth-of-type(2),
            &:nth-of-type(6) {
                border-right: 0;
            }
        }

        @media (min-width: 768px) and (max-width: 991px) {
            &:nth-of-type(4) {
                border-right: 0;
            }
        }
    }

    .stories {
        min-height: 200px;
    }

    .story {

        margin-bottom: 5px;

        > .badge {
            float: right;
        }
    }
}
