[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
    display: none !important;
}

ng\:form {
    display: block;
}

.ng-animate-start {
    border-spacing: 1px 1px;
    -ms-zoom: 1.0001;
}

.ng-animate-active {
    border-spacing: 0 0;
    -ms-zoom: 1;
}

#global-loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 99999;
    text-align: center;
}

#global-loading > img {
    position: absolute;
    top: 50%;
    left: 50%;
}

.backlog-stories.active {
    margin-right: 50px;
    margin-left: 100px;
}

.backlog-stories .sortable-placeholder {
    border: 1px dotted #ecf0f1;
}

.backlog-story > .panel-heading {
    cursor: move;
}

.backlog-story.disabled > .panel-heading {
    cursor: auto;
}

.backlog-story.ruler {
    border: 0;
    position: relative;
    height: 2px;
    overflow: visible;
}

.backlog-story.ruler > .ruler {
    position: absolute;
    border: 1px solid #f39c12;
    right: -50px;
    left: -100px;
    cursor: n-resize;
}

.backlog-story.ruler > .ruler > .points {
    position: absolute;
    right: 0;
    bottom: 5px;
}

.backlog-story.ruler > .ruler > .iteration {
    position: absolute;
    left: 0;
    bottom: 5px;
}

.backlog-story .badge {
    float: right;
}